@import '~@nativescript/theme/css/core.css';

.large {
    font-size: 18;
}

.small {
    font-size: 12;
}

MarkdownView {
    background-color: transparent;
    color: black;
}

.ns-light MarkdownView {
    color: black;
}

.ns-dark MarkdownView {
    color: white;
}